.map_wrapper .map #map {
    height: 600px; border-top: 1px solid #CCCCCC;
}
.map_wrapper .map {position: relative; line-height: 1.3; font-size: 1.1rem; border-radius: 10px; overflow: hidden; border: 5px solid #e6e6e6;}
.map_wrapper .map label {font-size: 1rem; font-weight: 600;}
.map_wrapper .map .bg {transition: all .30s ease-in;  opacity:1; visibility: visible; width: 100%; height: 100%; top: 0; left: 0; position: absolute; background: rgba(15, 64, 96, 0.15); z-index: 1;}
.map_wrapper .map:hover .bg {visibility: hidden; opacity: 0;}
.map_wrapper .map:hover [class*="ymaps-2-1"][class*="-ground-pane"] {
    filter: none;
    -webkit-filter: none; 
}
.map_wrapper .map .logo img {max-width: 50%; max-height: 80px;}

.map_wrapper .map .baloon_content > div > a {color: var(--TEXT_COLOR)!important;}
.map_wrapper .map .baloon_content > div > a:hover {color: var(--OPTION_BASE_COLOR)!important}

.map_wrapper .map .ymaps-2-1-79-balloon, .map_wrapper .map .ymaps-2-1-79-balloon__layout {border-radius: 8px;}
.map_wrapper .map .ymaps-2-1-79-balloon__close {margin-right: 5px;}

/*Темная тема*/
body.SITE_THEME_DARK .map_wrapper .map {border: 5px solid var(--THEME_DARK_LINE_COLOR);}




.map_wrapper .map.css_filter [class*="placemark-overlay"] ymaps ymaps {
    filter:grayscale(1) brightness(0%) var(--OPTION_BASE_COLOR_FILTER);
}
.map_wrapper .map [class*="placemark-overlay"] ymaps ymaps {
    -webkit-animation: marker-animation 1s infinite;
    animation: marker-animation 1s infinite;
}

@-webkit-keyframes marker-animation {
    0% {top: -105px; }
    50% {top: -110px;}
    100% {top: -105px; } 
}