.idea/
/.Trash*/
/.trash*/

# Игнорируем символические ссылки на ключевые директории bitrix images local upload
/bitrix
!/bitrix/
/images
!/images/
/local
!/local/
/upload

/bitrix/*

!/bitrix/php_interface/
/bitrix/php_interface/include/sale_delivery/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect.php
/bitrix/php_interface/after_connect_d7.php

!/bitrix/templates/

#!/bitrix/modules/
#/bitrix/modules/*
#!/bitrix/modules/redsign*

/.htaccess
/.htsecure
/urlrewrite.php
/web.config
/sitemap*.xml
/yandex*.html
/google*.html

**/log/
**/logs/
*.log
IMOLog.txt
log.txt

# Игнорируем тяжёлые файлы
*.7z
*.avi
*.csv
*.doc
*.docx
*.exe
*.flv
*.gz
*.mkv
*.mov
*.mp3
*.mp4
*.ogv
*.old
*.pdf
*.rar
*.swf
*.tar
*.tar.gz
*.tgz
*.webm
*.xls
*.xlsx
*.xml
*.zip