.top_search_header input {
    width: 100%; 
    outline: none; 
    border-radius: 3px;
    line-height: 30px;
    margin: 0 10px 0 0!important; 
    padding: 5px 20px!important;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    font-weight: 300;
    
}
.top_search_header input[type="text"]::-moz-placeholder, .top_search_header input[type="text"]::-webkit-input-placeholder,.top_search_panel input[type="text"]::placeholder {color: #666666; font-family: var(--font-family); font-size: 0.9rem!important;}
.title-search-result {
	display: none;
	overflow: hidden;
	z-index: 205;
	background-color: #FFF;
	padding: 10px;
	border-radius: 3px;
	width: 450px!important;
	margin-top: -5px!important; 
	z-index: 9999!important;
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	
}
#top_search_header_result {
    max-width: 320px; 
    display: inline-block;
    width: 100%; 
}

.bx_edit_mode .title-search-result {margin-top: 0;}
.title-search-result a {font-size: 0.9rem;} 
.title-search-result .bx_price {padding: 5px 0; font-size: 0.9rem; font-weight: 600;}
.bx_item_block{
	padding-bottom:5px;
	margin-bottom: 10px;
	//border-bottom:1px solid #0f0f0f;
}
.title-search-result .old_price {
    font-weight: 300;
    margin-left: 10px;
    font-size: 0.8rem;
    color: #ccc;
    text-decoration: line-through;
}

.all_result,
.others_result { border: none; }

.all_result { margin-bottom: 0;}

.bx_img_element {flex: 0 0 50px; padding-right: 10px;}
.bx_image {
    display: block; width: 50px; height: 50px; 
    background-size: cover;
    background-repeat: no-repeat;
}


.top_search_header .search_action_container {
    border: 1px solid #f3f3f3;
    background-color: #fafafa;
    border-radius: 5px;
    position: relative;
}
.btn_search_header {
    cursor: pointer; 
    position: absolute;
    right: 12px;
    top: 10px;
}
.btn_search_header .svg {fill:  #666666;}

/*.col-xl-  (>= 1200px)*/
@media screen and (min-width: 1200px)
{
       
}
/*.col-lg-  (>= 992px)*/
@media screen and (max-width: 1200px)
{
     
}
/*.col-md-  (>= 768px)*/
@media screen and (max-width: 991px)
{
    
}
/*.col-sm-  (>= 576px)*/
@media screen and (max-width: 767px)
{
    .title-search-result {width: 98%!important; left: 1%!important;}   
}
/*.col-*/
@media screen and (max-width: 575px)
{
    
}