.subscribe-edit .data-table.data-param {max-width: 600px;}
.subscribe-edit .data-table.data-param tr td:not(.no_border) {border-bottom: 1px solid #d5d5d5; padding: 5px 0;}
.subscribe-edit .data-table.data-param tr td:last-child {text-align: right;}


div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}
	