/*gallery_page*/
.gallery_page {}


/*filemanager*/
a.filemanager {text-align: left !important;}

/*table*/
.table-content {border-spacing: 0px; width:100%;
    margin: 10px auto;  
    border:#dedede 1px solid;
}
.table-content th:first-child {border-top-left-radius: 4px;}
.table-content th:last-child {border-top-right-radius: 4px;}
.table-content th {
    padding:18px;
    border-bottom:1px solid #e5e5e5;
    background: #f8f8f8;
    vertical-align: middle;
    color: #000000;
}
.table-content tr {text-align: center; padding-left:20px;}
.table-content tr td {background: #FFFFFF; vertical-align: middle; padding:18px; border-bottom: 1px solid #e5e5e5; border-left: 1px solid #dedede; }
.table-content tr td:first-child {border-left: 0 none; padding-left: 20px; text-align: left;}
.table-content tr:last-child > td {border-bottom: 0 none;}
.table-content tr:nth-child(2n) {background: #f9f9f9;} 